# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# VS Code
.vscode/

# test DB
*.db

# Optional npm cache directory
.npm
